body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background:linear-gradient(to right,#dfe9f3,#ffffff);
    margin: 0;
    padding: 20px;
}
.card{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.total-cards{
    background-color: white;
    width: 240px;
    padding: 25px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.15);
    transition: 0.3s;
}
.total-cards:hover{
    transform: translateY(-5px);
}
.total-cards h3{
    color: #444;
    margin-bottom: 12px;
}
.total-cards p{
    font-size: 28px;
    font-weight: bold;
    color: #0f766e;
}
h1{
    text-align: center;
    color:#1f3b57;
    margin-bottom: 30px;
    font-size: 38px;
    letter-spacing: 1px;
}
form{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
    flex-wrap: wrap
}
input,select{
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    width: 180px;
    font-size: 15px;
    transition: 0.3s;
}
input:focus,select:focus{
    border-color: #0f766e;
    box-shadow: 0px 0px rgba(15,118,110,0.3);
}
button{
    background-color:#0f766e;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    transition: 0.3s;
}
table{
    margin: 30px auto;
    width: 90%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.1);
}
th{
    background-color: #0f766e;
    color: white;
    padding: 15px ;
    font-size: 16px;
}
td{
    padding: 14px;
    text-align:center;
    
    border-radius: 1px solid #eee;
    color: #444;
}
tr:hover{
    background-color: #f9f9f9;
}
.deletebutton{
    background: linear-gradient(to right,#2563eb,#1d4ed8);
    padding: 8px 14px;
    border-radius: 8px;
}
.deletebutton:hover{
    background: linear-gradient(to right,#1d4ed8,#1e40af);
}
.filter-container{
    display: flex;
    gap: 25px;
    padding-left: 80px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
